# Ignore uploads folder outside project
/uploads/

settings/db_cred.php
test.html

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore PHPStorm or VSCode settings
.idea/
.vscode/

